
// creacion de variables

:root{
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey1: #dbe1e8;
    --color-grey2: #b2becd;
    --color-grey3: #6c7983;
    --color-grey4: #454e56;
    --color-grey5: #2a2e35;
    --color-grey6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3)
    
}





@media screen and (max-width: 600px){

    //====================================//
    //seccion header//
    header{
        padding: 0;
        height: 100%;
     
    }  
    header .right-header{
        margin-top: 3rem;
        margin-bottom: 4rem;
       
      
        padding: 2rem !important;
    }
    .theme-btn{
        width: 50px;
        height: 50px;
    }

    //cambios de la grilla
    .header-content{
        margin: 0;
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
        padding-bottom: 6rem;
        
    }
    .left-header{
        width: 90%;
        margin: 2rem auto;
        .h-shape{
            margin-top: 2rem;
            margin-bottom: 6rem;
        //   padding-top: 3rem;
        //   padding-bottom: 4rem;
            width: 100% !important;
            background-color: var(--color-primary) !important;
        }
    }
   
    .right-header{
        grid-row: 1;
        width: 95%;
        margin: 0 auto;
        .name{
            font-size: 1rem !important;
        }
       

    }
    .header-content .left-header .image{
        left: auto !important;
        margin: 0 auto !important;
        width: 95% !important;
       
    }
//====================================================//
//Seccion About//

    .main-title{
        h2{
            padding-top: 2rem;
            font-size: 3rem;
        }

        .bg-text{
          padding-top: 2rem;
            font-size: 4rem !important;
        }
    }

    .about-container{
        grid-template-columns: 1fr ;
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
        .left-about{
            padding-right: 0px;
            p{
                padding-left: 0;
            }

        }
    }

    .about-stats{
        .skills{
            grid-template-columns: 1fr 1fr;
        }
    }
    .skills{
        .skill{
            h4{
                font-size: 1.5rem;
            }
        }
    }

    .timeline{
        grid-template-columns: 1fr;
    }
    .section{
        padding: 2rem 2.5rem ;
    }
//===========================================//
//Section blog
    .blogs-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blogs{
        margin-top: 3.5rem;
      
        width: 70%;
       
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
        .blog{

        }
      
    }
//===========================================//
//Section Portfolio
    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .port-text{
        margin-top: 3rem;
    }
//===========================================//
//Section Contact

    .contact-content-container{
        flex-direction: column;
        .right-contact{
           
            margin-left: 0;
            margin-top: 2.5rem;
            .contact-form{
                width: 100%;
            }
        }
        .left-contact{
            .contact-icons{
              .contact-icon{
                  justify-content: center;
              }
                
            }
        }
    }
    .contact-content-container .right-contact .input-control-two{
        flex-direction: column;

    } 
  

    .contact-content-container .right-contact .input-control-two :last-child{
        margin-left: 0 !important;
        margin-top: 1.5rem;
    } 
 
    //==========================================//
    .controlls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translatex(-50%);
        width: 100%;
        background-color: var(--color-grey5);
        .control{
            margin: 1rem .3rem;
        }
    }

  


}